<?xml version="1.0"?>
<config>
    <modules>
        <Bablic_Localization>
            <version>0.1.0</version>
        </Bablic_Localization>
    </modules>
    <frontend>
        <routers>
            <localization>
                <use>standard</use>
                <args>
                    <module>Bablic_Localization</module>
                    <frontName>localization</frontName>
                </args>
            </localization>
        </routers>
        <layout>
            <updates>
                <localization>
                    <file>localization.xml</file>
                </localization>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<localization>
				<use>admin</use>
				<args>
					<module>Bablic_Localization</module>
					<frontName>localization</frontName>
				</args>
			</localization>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<localization module="localization">
				<title>Bablic</title>
				<sort_order>71</sort_order>               
				<children>
				  <settings module="localization" translate="title">
                    <title>Settings</title>
                    <sort_order>1000</sort_order>
                    <action>adminhtml/system_config/edit/section/localization</action>
                </settings>
					<!--<items module="localization">
						<title>Manage Bablic Localization</title>
						<sort_order>0</sort_order>
						<action>localization/adminhtml_localization</action>
					</items>-->
				</children>
			</localization>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Bablic_Localization>
							<title>Localization Module</title>
							<sort_order>10</sort_order>
						</Bablic_Localization>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<localization>
					<file>localization.xml</file>
				</localization>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <localization>
                <class>Bablic_Localization_Model</class>
                <resourceModel>localization_mysql4</resourceModel>
            </localization>
            <localization_mysql4>
                <class>Bablic_Localization_Model_Mysql4</class>
                <entities>
                    <localization>
                        <table>bablic_localization</table>
                    </localization>
                </entities>
            </localization_mysql4>
        </models>
        <resources>
            <localization_setup>
                <setup>
                    <module>Bablic_Localization</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </localization_setup>
            <localization_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </localization_write>
            <localization_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </localization_read>
        </resources>
        <blocks>
            <localization>
                <class>Bablic_Localization_Block</class>
            </localization>
        </blocks>
        <helpers>
            <localization>
                <class>Bablic_Localization_Helper</class>
            </localization>
        </helpers>
    </global>
</config>